/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/*

*/
:root {
  color: rgba(255, 255, 255, 0.87);

  background-color: #242424;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
body {
  background-color: #242424;
  width: 60%;
  border-radius: 10px;
}
.content-box {
  background-color: rgb(26, 147, 147);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}
.swap-box {
  background-color: #242424;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 10px;
}
.title {
  font-size: 20px;
  gap: 9px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  width: inherit;
}
.pro {
  background-color: rgb(26, 147, 147);
  color: #242424;
  padding: 2px;
  border-radius: 5px;
}
.checker {
  display: none;
}
.swap {
  width: 100%;
}
.swap button {
  background-color: rgb(41, 222, 41);
  width: inherit;
  padding: 10px;
  font-size: 15px;
  cursor: pointer;
  border-radius: 8px;
}
