/* src/index.css or src/App.css */
@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");

/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/*
overlayer
*/

:root {
  /*
  background-image: url("/images/bg.svg");
  
  background: #242424;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: absolute;
  */
}

body {
  color: rgba(255, 255, 255, 0.87);
  /*
 background-color: #242424;
 */
  background-image: url("/images/bg.svg");
  border-radius: 10px;
  width: 100%;
  position: relative;
}
.content-box {
  background-color: rgb(16, 32, 32);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}
.swap-box {
  background-color: #242424;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  width: inherit;
}
.pro {
  background-color: rgb(26, 147, 147);
  color: #242424;
  padding: 2px;
  border-radius: 5px;
}
.checker {
  display: none;
}

.swapicon {
  display: flex;
  justify-content: center;
  width: 100%;
  position: relative;
}
.custom-teal:checked {
  accent-color: rgb(26, 147, 147);
}

@media (max-width: 569px) {
  body {
    width: 100%;
  }
}
